body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    background-color: lightblue;
    border: none;
    padding: 10px;
    border-radius: 10px;
}